/* Color Variables */
/* dark-navy-bgr: rgb(28, 43, 109); */

/* General Styling */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #FFF;
}

h1 {
    text-align: center;  
}

h2 {
  text-align: center;
  font-size: 30px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Class Styling */
.block {
    display: block;
}

.white {
    color: white;
}

/* HAMBURGER ICON reference: https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

/* ------------------------- */
/* Style the navigation menu */
/* ------------------------- */
.navbar-custom {
    box-sizing: border-box;
    overflow: visible;
    background-color: white;
    color: black;
    width: 100%;
    flex-direction: row;
    padding: 20px;
    position: fixed;
    top:0;
    z-index: 2;
  }
  
  /* shadow below nav bar */
  #shadowOnScroll {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    height: 10px;
    width: 100%;
    position: fixed;
    left:0;
    top: 73px;
  }

  /* Katy Koo Navbar brand */
  .navbar-brand {
      align-self: flex-start;
      width: 140px;
      padding: 15px;
      font-size: 29px;
      text-decoration: none;
      color: black;
  }
  
/* background container for collapsing links */
  #collapse-container {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -5px 20px #555555;
    background-color: rgba(241, 234, 234, 0.9);;
    position: absolute;
    overflow: hidden;
    padding-top: 88px;
    width: 40%;
    height: 340px;
    right: 0;
    top: 0;
    display: none;
  }

    /* Hamburger Menu Icon */
    a.icon {
        background: rgba(1, 1, 1, 0);
        display: block;
        position: absolute;
        padding: 10px;
        right: 10px;
        top: 20px;
        font-size: 25px;
        color: black;
        z-index: 3;

      }

  /* Hide the links inside the navigation menu (except for logo/home) */
  #collapse {
    box-sizing: border-box;
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    top:0;
    border-top: 88px solid transparent;
    width: 40%;
    height: 340px;
    overflow: hidden;
  }


  /* Style navigation menu links */
  #collapse a {
    box-sizing: border-box;
    color: black;
    padding: 14px 14vw 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin: 0;
    width: 100%;
    cursor: pointer;
    transition: all 500ms ease; 

  }

  
  /* Add a grey background color on mouse-over */
  #collapse a:hover {
    background-color: #FEFEFE;
    color: black;
  }


/* -------------------------------*/
/* MAIN DIV (Introduction) Styling*/
/* ------------------------------ */

  .mainDiv {
      box-sizing: border-box;
      width: 100%;
      margin-top: 140px;
      text-align: center;
      align-items: center;
      z-index: 1;
  }

  .introduction {
    font-size: 14px;
    padding: 24px;
  }

  .slantedDiv {
    background-color: rgb(28, 43, 109);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    height: 5vw;
  }
  /* ----------------- */
  /* PROJECT DIVISION */
  /* ----------------- */

  .projectDiv {
    padding: 10vw;
    background-color: rgb(28, 43, 109);
    /* reference for slanted bottom/top edges: https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms/ */
    z-index: 1;
  }

  .project-container {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr;
      gap: 10vw;
  }

  .individualProject {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 30px black;
    border-radius: 40px;
  }
  .projectImageDiv{
    padding: 20px;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 43, 109, 0.11);
  }

  .projectImage {
      width: 100%;
  }
  
  .descriptionBox {
    padding: 20px;
  }

  .projectTitle {
    font-size: 20px;
  }

  .projectDescription {
    font-size: 16px;
    font-weight: 300;
  }

/* ----------------- */
/* AboutMe Styling */
/* ----------------- */

.aboutMe {
  text-align: center;
}

/* ----------------- */
/* ContactMe Styling */
/* ----------------- */

.contactMe {
  background-color: rgb(28, 43, 109);
  color: white;
}

.contactMe-container {
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.myInfo {
padding: 20px 5px;
width: 100%
}

.myInfo:first-child{
  font-size: 17px;
}

.myInfoLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  justify-content: space-around;
}

.emailInputBox {
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  text-align: center;
  font-size: 17px;
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
}

.inputContent {
  height: 100px;
}

.submitBtn {
  cursor: pointer;
  width: 60%;
  background-color: #f3f3f3;
  border: 1px solid black;
  display: inline-block;
  font-size: 15px;
  margin: 13px;
  padding: 5px;
}

/* ----------------- */
/* RESPONSIVE DESIGN */
/* ----------------- */

  @media only screen and (max-width:499px) {
    .slantedDiv {
      clip-path: none;
    }
  }

  /* TABLET */
  @media only screen and (min-width:833px) {
    /* NAV BAR */

    /* MAIN SECTION */

    /* PROJECTS */

    .projectImageDiv {
      min-height: 450px;
      opacity: 0.4;
    }

    .projectImageDiv:hover {
      opacity: 1;
    }

    .project-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
  
    /* ABOUT ME */

    /* CONTACT ME */
    .contactMe-container {
      flex-direction: row;
    }
  }

  /* DESKTOP */
  @media only screen and (min-width:1113px) {
    /* NAV BAR */

    /* MAIN SECTION */

    /* PROJECTS */
    

    .projectImageDiv {
      min-height: 450px;
      opacity: 0.4;
    }

    .projectImageDiv:hover {
      opacity: 1;
    }

    .project-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    /* ABOUT ME */

    /* CONTACT ME */
    .contactMe-container {
      flex-direction: row;
    }
  }