/* Color Variables */
/* dark-navy-bgr: rgb(28, 43, 109); */

/* General Styling */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #FFF;
}

h1 {
    text-align: center;  
}

h2 {
  text-align: center;
  font-size: 30px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Class Styling */
.block {
    display: block;
}

.white {
    color: white;
}

.bg-Navy {
  background-color: rgb(28, 43, 109);
}

.bg-blue {
  background-color: #476C9B;
}

.wholeSection {
  text-align: center;
}

.lineDivision {
  margin: 0.8rem 3rem 1.2rem 3rem;
  width: 4rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* div created to match the height of nav bar
in order to go to the very top of the section when clicked on nav */
.heightMatchingDiv {
  height: 83px;
  width: 100%;
}

/* HAMBURGER ICON reference: https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

/* ------------------------- */
/* Style the navigation menu */
/* ------------------------- */

/* height of navbar: 83px */
.navbar-custom {
    box-sizing: border-box;
    overflow: visible;
    background-color: white;
    color: black;
    width: 100vw;
    flex-direction: row;
    padding: 20px;
    position: fixed;
    top:0;
    z-index: 2;
  }
  
  /* shadow below nav bar */
  #shadowOnScroll {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    height: 10px;
    width: 100vw;
    position: fixed;
    left:0;
    top: 73px;
  }

  /* Katy Koo Navbar brand */
  .navbar-brand {
      align-self: flex-start;
      width: 140px;
      padding: 15px;
      font-size: 29px;
      text-decoration: none;
      color: black;
  }
  
/* background container for collapsing links */
  #collapse-container {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -5px 20px #555555;
    background-color: rgba(241, 234, 234, 0.9);;
    position: absolute;
    overflow: hidden;
    padding-top: 88px;
    width: 40%;
    height: 340px;
    right: 0;
    top: 0;
    display: none;
  }

    /* Hamburger Menu Icon */
    a.icon {
        background: rgba(1, 1, 1, 0);
        display: block;
        position: absolute;
        padding: 10px;
        right: 10px;
        top: 20px;
        font-size: 25px;
        color: black;
        z-index: 3;

      }

  /* Hide the links inside the navigation menu (except for logo/home) */
  #collapse {
    box-sizing: border-box;
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    top:0;
    border-top: 88px solid transparent;
    width: 40%;
    height: 340px;
    overflow: hidden;
  }


  /* Style navigation menu links */
  #collapse a {
    box-sizing: border-box;
    color: black;
    padding: 14px 14vw 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin: 0;
    width: 100%;
    cursor: pointer;
    transition: all 500ms ease; 

  }

  
  /* Add a grey background color on mouse-over */
  #collapse a:hover {
    background-color: #FEFEFE;
    color: black;
  }

  .positionDown {
    padding-top:100px;
  }



/* -------------------------------*/
/* MAIN DIV (Introduction) Styling*/
/* ------------------------------ */

  .mainDiv {
      box-sizing: border-box;
      width: 100%;
      display:flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      z-index: 1;
  }

  .introduction {
    font-size: 14px;
    padding: 24px;
  }

  .socialLinks {
    width: 40vw;
    height: 50px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-items: center;
  }

  .socialLinks a{
    width: 40px;
    height: 40px;
  }

  .socialLinks a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .resumeBtn {
    margin-top: 15px;
    width: 150px;
    font-size: 20px;
    height: 35;
    border: 2px solid black;
    border-radius: 1px;
    text-decoration: none;
    color: black;
  }

  .slantedDiv {
    background-color: rgb(28, 43, 109);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    height: 5vw;
  }
  /* ----------------- */
  /* PROJECT DIVISION */
  /* ----------------- */

  .projectDiv {
    padding: 6vw;
    background-color: rgb(28, 43, 109);
    /* reference for slanted bottom/top edges: https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms/ */
    z-index: 1;
  }

  .project-container {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
  }

  .individualProject {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 30px black;
    border-radius: 40px;
  }
  .projectImageDiv{
    padding: 0 20px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 43, 109, 0.11);
  }

  .projectImage {
      width: 100%;
      height: auto;
  }
  
  .descriptionBox {
    padding: 0 10px 5px 10px;
  }

  .projectTitle {
    font-size: 14px;
  }

  .projectDescription {
    font-size: 10px;
    font-weight: 300;
  }

/* ----------------- */
/* AboutMe Styling */
/* ----------------- */

.aboutMe {
  text-align: center;
  padding: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe h2 {
  margin-bottom: 10px;
}

.aboutMeGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgOfMe {
  width: 70vw;
  height: auto;
}

.imgOfMe img {
  width: 100%;
  height: auto;
}

/* ----------------- */
/* ContactMe Styling */
/* ----------------- */

.skillsSection {
  min-height: 70vh;
}

.skillsContentSection {
  display: grid;
  justify-items: center;
  text-align: center;
}

.skillsTitle {
  display: block;
  width: 100vw;
  margin:0;
}

.skillsGrid {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  height: 50vw;
  align-items: center;
  justify-items: center;

}

.skillDiv {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.skillsGrid {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.skill {
  width: 80%;
  height: 80%;
  transition: all 1s ease;
  cursor: pointer;
  font-size: 6px;
}

/* ----------------- */
/* ContactMe Styling */
/* ----------------- */

.contactMe {
  background-color: rgb(28, 43, 109);
  color: white;
  min-height: 100vh;
}

.contactMe h2 {
  margin-bottom: 10px;
}

.contactMe-container {
  padding: 15px;
  margin: 10px;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.myInfo {
padding: 20px 5px;
width: 100%;
display: flex;
flex-direction:column;
align-items: center;
}

.myInfo:first-child{
  font-size: 17px;
}

.infoEmail {
  font-size: 14px;
}

.resumeLink p{
  text-decoration: underline;
}

.resumeLink p:hover {
  color: rgb(89, 102, 170);
}


.socialLinks-end {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-items: center;
  padding: 10px 30px;
}


.socialLinks-end a{
  width: 40px;
  height: 40px;
  background-color: rgb(28, 43, 109);
}


.socialLinks-end a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgb(28, 43, 109);
}

.contactMe-container form {
  width: 80vw;
}

.emailInputBox {
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: block;
  text-align: left;
  font-size: 17px;
  padding: 6px 3px;
  margin: 5px;
  width: 100%;
  line-height: 2em;
  border: 1px solid white;
}

.inputContent {
  height: 100px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.submitBtn {
  cursor: pointer;
  width: 200px;
  background-color: #476C9B;
  color: white;
  border: 1px solid white;
  display: inline-block;
  font-size: 15px;
  margin: 13px;
  padding: 5px;
}


/* ----------------- */
/* ----------------- */
/* RESPONSIVE DESIGN */
/* ----------------- */
/* ----------------- */

  @media only screen and (max-width:499px) {
    .slantedDiv {
      clip-path: none;
    }
  }

  

  /* DESKTOP */
  @media only screen and (min-width:1000px) {
    /* NAV BAR */

    #collapse-container {
      width: 500px;
      height: 80px;
      display: none;
      opacity: 0;
      transform: scale(0);
      z-index: -1;
    }
    #collapse {
      width: 500px;
      height: 80px;
      display: flex !important;
      opacity: 1 !important;
      transform: scale(1) !important;
      flex-direction: row;
      border:0;
      text-align: center;
      align-items: center;
    }

    #collapse a {
      padding: 0;
      margin: 0;
      font-size: 20px;
      display: inline;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    #collapse a:hover {
      color: #aaaaaa;
    }

    #burger-icon {
      display: none;
    }

    /* MAIN SECTION */

    /* PROJECTS */
    

    .projectImageDiv {
      min-height: 700px;
      opacity: 0.4;
    }

    .projectImageDiv:hover {
      opacity: 1;
    }

    .project-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    /* ABOUT ME */

    /* CONTACT ME */
    .contactMe-container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "myinfo emailInput";
      justify-items: center;
      align-content: center;
    }

    .contactMe-container form {
      width: 80%;
    }
    .myInfo {
      grid-area: myinfo;
    }

    .emailInputBox {
      grid-area: emailInput;
      width: 40vw;
    }

    .socialLinks-end {
      width: 30%;
      height: 50px;
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-content: center;
      justify-items: center;
      padding: 30px;
    }


    .socialLinks-end a{
      width: 40px;
      height: 40px;
      padding: 10px;
    }

    .socialLinks-end a img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease;
    }
  }

  /* TABLET */
  @media only screen and (min-width:754px) {
    /* NAV BAR */
    #collapse-container {
      width: 500px;
      height: 80px;
      display: none;
      opacity: 0;
      transform: scale(0);
      z-index: -1;
    }
    #collapse {
      width: 400px;
      height: 80px;
      display: flex !important;
      opacity: 1 !important;
      transform: scale(1) !important;
      flex-direction: row;
      border:0;
      text-align: center;
      align-items: center;
    }

    #collapse a {
      padding: 0;
      margin: 0;
      font-size: 20px;
      display: inline;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    #collapse a:hover {
      color: #aaaaaa;
    }

    #burger-icon {
      display: none;
    }
    /* MAIN SECTION */

    /* PROJECTS */

    .projectImageDiv {
      min-height: 300px;
    }

    .projectImageDiv:hover {
      opacity: 1;
    }

    .project-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
  
    /* ABOUT ME */
    .aboutMe {
      min-height: 0;
    }

    .aboutMeGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .imgOfMe {
      width: 400px;
      margin-left: 100px;
    }
    
    /* CONTACT ME */
   

    .contactMe-container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "myinfo emailInput";
      justify-items: center;
      align-content: center;
    }

    .contactMe-container form {
      width: 80%;
    }

    .myInfo {
      grid-area: myinfo;
      justify-self: center;
      align-self: center;
    }

    .emailInputBox {
      grid-area: emailInput;
      width: 40vw;
    }
    
    .socialLinks-end {
      width: 30%;
      height: 50px;
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-content: center;
      justify-items: center;
      padding: 30px;
    }


    .socialLinks-end a{
      width: 40px;
      height: 40px;
      padding: 10px;
    }

    .socialLinks-end a img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    .github {
      grid-area: github;
    }

    .linkedIn {
      grid-area: linkedIn;
    }

    .resumeBtn {
      grid-area: resumeBtn;
    }

    .emailInputBox {
      grid-area: emailInput;
      justify-self: center;
      align-self: center;
      width: 100%;
    }

  }